name: myworkflow
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v5
     - uses: actions/setup-node@v4
       with:
        node-version: '18'
     - run: npm install
     - run: make setup
     - run: make test
     - run: make lint
